<aside class="sm-side" id="left-side">
  <%= render "modal-compose"%>
  <ul class="inbox-nav inbox-divider">
    <li class="<%= active_page(:inbox) %>">
      <a href="inbox">
        <i class="fa fa-inbox"></i>
        Inbox
        <span class="label label-danger pull-right">2</span>
      </a>
    </li>
    <li class="<%= active_page(:sent) %>">
      <a href="sent">
        <i class="fa fa-rocket"></i>
        Sent Mail
        <span class="label label-info pull-right">30</span>
      </a>
    </li>
    <li class="<%= active_page(:important) %>">
      <a href="#">
        <i class="fa fa-bookmark-o"></i>
        Important</a>
    </li>
    <li class="<%= active_page(:drafts) %>">
      <a href="#">
        <i class=" fa fa-external-link"></i>
        Drafts</a>
    </li>
    <li class="<%= active_page(:trash) %>">
      <a href="#">
        <i class=" fa fa-trash-o"></i>
        Trash</a>
    </li>
  </ul>
</aside>
