<aside class="sm-side" id="left-side">
<%= link_to  "New Message", new_message_path, class: "btn btn-compose" %>
  <ul class="inbox-nav inbox-divider">
    <li class="<%= active_page(:inbox) %>">
       <%= link_to  messages_inbox_path do %>
        <i class="fa fa-inbox"></i>
        Inbox
        <span class="label label-danger pull-right"><%= @count_unread_inbox%></span>
      <% end %>
    </li>
    <li class="<%= active_page(:sent) %>">
      <%= link_to  messages_sent_path do %>
        <i class="fa fa-rocket"></i>
        Sent Mail
        <span class="label label-primary pull-right"><%= @count_unread_sent%></span>
      <% end %>
    </li>
    <li class="<%= active_page(:important) %>">
      <a href="#">
        <i class="fa fa-bookmark-o"></i>
        Important</a>
    </li>
    <li class="<%= active_page(:drafts) %>">
      <a href="#">
        <i class=" fa fa-external-link"></i>
        Drafts</a>
    </li>
    <li class="<%= active_page(:trash) %>">
      <a href="#">
        <i class=" fa fa-trash-o"></i>
        Trash</a>
    </li>
  </ul>
</aside>
