<div class="container">
  <div class="mail-box">
    <%= render partial: 'left-side' %>
    <aside class="lg-side">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Compose</h4>
          </div>
          <div class="modal-body">

            <%= form_for(@message, :html => {class: "form-horizontal", role: "form"}) do |f|%>
            <% if @message.errors.any? %>
            <div id="errors">
              <h2>
                <%= pluralize(@message.errors.count, "error") %>
                prevented this message from saving
              </h2>
              <ul>
                <% @message.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
            <% end %>
            <div class="form-group">
              <label class="col-lg-2 control-label">To</label>
              <div class="col-lg-10">
                <%= collection_select(:message, :receiver_id, @friends, :id, :fullname, {}, {:multiple => true, include_blank: false, class: "ui fluid  selection dropdown", id: "select-receiver_id",:prompt => 'Please select the friends'}) %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Subject</label>
              <div class="col-lg-10">
                <%= f.text_field :subject, class: "form-control input-lg", placeholder: "", required: true %>
              </div>

            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Message</label>
              <div class="col-lg-10">
                <%= f.text_area :body, class: "form-control", placeholder: "", required: true, rows: 10%>
              </div>
            </div>

            <div class="form-group">
              <div class="center" style="text-align:center;">
                <%= f.submit "Send", class: "btn btn-send" %>
              </div>
            </div>
            <% end%>

          </div>
        </div>
        <!-- /.modal-content -->
      </div>
    </aside>
  </div>
</div>
