<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login/Logout animation concept</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>

    <link rel="stylesheet" href="/stylesheets/style.scss">

    <link href="<%= image_path("logo.png") %>" rel="shortcut icon" />

  </head>
  <body>
    <div class="cont">
      <div class="demo">
        <div class="login">
          <div class="login__form">
            <div class="login_check">
              <img src="<%= image_path("logo.png") %>" style="width:200px; height:200px;">
            </div>
            <div class="signup__row">
              <h2>Sign Up</h2>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>
                  <div class="field">
                    <%= f.text_field :hoten, autofocus: true, placeholder: "Full name" %>
                  </div>

                  <div class="field">
                    <%= f.email_field :email, autofocus: true, placeholder: "email@gmail.com" %>
                  </div>

                  <div class="field">
                    <%= f.password_field :password, autocomplete: "off", placeholder: "password" %><br />

                  </div>

                  <div class="field">
                    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "password_confirmation" %>
                  </div>

                  <div class="actions">
                    <%= f.submit "Sign up" %>
                  </div>
                <% end %>

                <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
